<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="HuanHuan" class="zoo.animal.Panda" scope="singleton">
        <constructor-arg name="name" value="HuanHuan" />
        <constructor-arg name="weight" type="java.lang.Float" value="22.2" />
    </bean>
    <alias name="HuanHuan" alias="HuanThePanda" />
    <bean id="LeLe" class="zoo.animal.Panda" >
        <property name="name" value="LeLe" />
        <property name="weight" value="33.14" />
    </bean>
    <bean id="DaBao" class="zoo.Creator" factory-method="createChosenPanda" />

    <bean id="God" class="zoo.God"/>
    <bean id="DaBao2" factory-bean="God" factory-method="createChosenPanda" />

    <bean name="LeLe2" class="zoo.animal.Panda" p:name="LeLe2" p:weight="33.14"/>
</beans>