<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="knight" class="aop.worker.Knight">
      <property name="name" value="Jon"/>
    </bean>

    <bean id="myAspect" class="aop.MyAspect"/>

    <aop:config>
        <aop:pointcut id="knightFight" expression=
                "execution(public void aop.worker.Knight.fight())"/>
        <aop:pointcut id="knightSleep" expression=
                "execution(public void aop.worker.Knight.sleep())"/>
        <aop:pointcut id="knightSleepAllNight" expression=
                "execution(public void aop.worker.Knight.sleepAllNight())"/>
        <aop:pointcut id="knightOverWall" expression=
                "execution(public void aop.worker.Knight.overWall())"/>
        <aop:aspect ref="myAspect">
            <aop:before method="logBefore" pointcut-ref="knightFight"/>
            <aop:after-returning method="logAfter" pointcut-ref="knightFight"/>

            <aop:around method="logAroundButStop" pointcut-ref="knightSleep"/>
            <aop:around method="logAround" pointcut-ref="knightSleepAllNight"/>

            <aop:after-throwing method="afterThrowing" pointcut-ref="knightOverWall"/>
        </aop:aspect>
    </aop:config>
</beans>